<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questionsDao" class="ru.otus.test.dao.QuestionsDaoImpl">
        <constructor-arg value="questions.csv"/>
    </bean>

    <bean id="ioService" class="ru.otus.test.service.IOServiceStreams">
        <constructor-arg type="java.io.PrintStream" value="#{T(System).out}" />
    </bean>

    <bean id="testPrinter" class="ru.otus.test.service.TestPrinterServiceImpl">
        <constructor-arg ref="questionsDao"/>
        <constructor-arg ref="ioService"/>
    </bean>

</beans>
